# vscode configuration
.vscode

# build directories
build*

# generated emulation config files
emconfig.json
ext_metadata.json

# profiling files
xrt.run_summary
summary.csv
device_trace*.csv
xsa.xml

# log files
*.log

# Vitis cache files
.Xil
.ipcache
.run

# compiled host binaries
host

# compiled kernel binaries
*.xo
*.xo.compile_summary
*.xclbin
*.xclbin.info
*.xclbin.link_summary


examples/*/*.xclbin
examples/*/*.xclbin.info
examples/*/*.xclbin.link_summary

examples/*/*.build_output.sw_emu
examples/*/*.build_output.hw_emu
examples/*/*.build_output.hw
